body {
  background-color: #f9f7fe;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h2 {
  margin: 0 0 10px;
  font-size: 28px;
}
select {
  display: block;
  width: 100%;
  border-color: rgb(85, 26, 139);
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}

h1 {
  text-align: center;
  font-size: 35px;
}
.container {
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 60px auto;
  background: #ffff;
  padding: 30px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
}

footer {
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
  text-decoration-color: #f9f7fe;
}
